# Python
__pycache__/
*.pyc

# Virtual env
venv/
env/
.venv/

# PyTorch
*.pth
*.pt

# Logs
logs/
wandb/
tensorboard/

# Outputs
outputs/
checkpoints/
predictions/

# Dataset
datasets/
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db